{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Quick Start{% endblock %}

{% block app_content %}
<h2>Bokeh View</h2>
<p>Bokeh views can be used to create charts using the Bokeh Python library. For more information about Bokeh, see the <a target="_blank" href="http://bokeh.pydata.org"> Bokeh website</a></p>
<p>For example code and an explanation of options see Gizmo Options Object API for <a target="_blank" href="{{ docs_endpoint }}/tethys_sdk/gizmos/bokeh_view.html">Bokeh View</a>.</p>
<div class="demo">
    {% gizmo bokeh_view my_bokeh_view %}
</div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}