{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Quick Start{% endblock %}

{% block app_content %}
<h2>Bokeh View</h2>
<p>Bokeh views can be used to create charts using the Bokeh Python library. For more information about Bokeh, see the <a target="_blank" href="http://bokeh.pydata.org"> Bokeh website</a></p>
<p>For example code and an explanation of options see Gizmo Options Object API for <a target="_blank" href="{{ docs_endpoint }}/tethys_sdk/gizmos/bokeh_view.html">Bokeh View</a>.</p>
<div class="demo">
    <h6 class="label">Scatter Plot</h6>
    {% gizmo scatter_plot %}
</div>
<div class="demo">
    <h6 class="label">Line Plot</h6>
    {% gizmo line_plot %}
</div>
<div class="demo">
    <h6 class="label">Pie Plot</h6>
    {% gizmo pie_plot %}
</div>
<div class="demo">
    <h6 class="label">Bar Plot</h6>
    {% gizmo bar_chart %}
</div>
<div class="demo">
    <h6 class="label">Time Series Plot</h6>
    {% gizmo time_series_plot %}
</div>
<div class="demo">
    <h6 class="label">Hexbin Plot</h6>
    {% gizmo hexbin_plot %}
</div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}