{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Buttons{% endblock %}

{% block app_content %}
{{ block.super }}
<h2>Buttons and Button Groups</h2>
<p>The <code>Button</code> and <code>ButtonGroup</code> gizmos can be used to generate a single button or a group of buttons, respectively. Groups of buttons can be stacked horizontally or vertically. This gizmo is a wrapper for <a href="https://getbootstrap.com/docs/5.1/components/buttons/" target="_blank">Bootstrap buttons</a>. You can also use any of the <a href="https://icons.getbootstrap.com">Bootstrap Icons</a>.</p>
<p>For example code and an explanation of options see Gizmo Options Object API for <a target="_blank" href="{{ docs_endpoint }}/tethys_sdk/gizmos/button.html">Button and Button Group</a>.</p>
<div class="demo">
    <h6 class="label">Submit Button</h6>
    {% gizmo button single_button %}
</div>
<div class="demo">
    <h6 class="label">Horizontal Button Group</h6>
    {% gizmo horizontal_buttons %}
</div>
<div class="demo">
    <h6 class="label">Vertical Button Group</h6>
    {% gizmo button_group vertical_buttons %}
</div>
{% endblock %}

{% block github_link %}https://github.com/tethysplatform/tethysapp-gizmo_showcase/blob/main/tethysapp/gizmo_showcase/controllers/form_controls.py#L9{% endblock %}