{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Cesium Map View{% endblock %}

{% block styles %}
	{{ block.super }}
  <style>

  </style>
{% endblock %}

{% block app_content %}
{{ block.super }}
<h2>Cesium Map View</h2>
<p>The CesiumMapView gizmo can be used to leverage the power of CesiumJs, a 3D-globe mapping client. Cesium is powered by <a href="https://cesium.com/platform/cesiumjs/" target="_blank">Cesium API for Javascript</a>.</p>
<p>For example code and an explanation of options see Gizmo Options Object API for <a target="_blank" href="{{ docs_endpoint }}/tethys_sdk/gizmos/cesium_map_view.html">Cesium Map</a>.</p>
{% url 'gizmo_showcase:cesium_map_view_basic' as basic_url %}
{% url 'gizmo_showcase:cesium_map_view_layers' as layers_url %}
{% url 'gizmo_showcase:cesium_map_view_terrain' as terrain_url %}
{% url 'gizmo_showcase:cesium_map_view_czml' as czml_url %}
{% url 'gizmo_showcase:cesium_map_view_geojson' as geojson_url %}
{% url 'gizmo_showcase:cesium_map_view_model' as model_url %}
{% url 'gizmo_showcase:cesium_map_view_ion' as multi_model_url %}
{% url 'gizmo_showcase:cesium_map_view_draw' as draw_url %}
<nav class="navbar navbar-expand-lg navbar-dark mb-3 rounded" style="background-color: {{ tethys_app.color }};">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link{% if request.path == basic_url %} active{% endif %}" href="{{ basic_url }}">Basic</a></li>
        <li class="nav-item"><a class="nav-link{% if request.path == layers_url %} active{% endif %}" href="{{ layers_url }}">WMS Layers</a></li>
        <li class="nav-item"><a class="nav-link{% if request.path == terrain_url %} active{% endif %}" href="{{ terrain_url }}">Terrain</a></li>
        <li class="nav-item"><a class="nav-link{% if request.path == czml_url %} active{% endif %}" href="{{ czml_url }}">CZML</a></li>
        <li class="nav-item"><a class="nav-link{% if request.path == geojson_url %} active{% endif %}" href="{{ geojson_url }}">GeoJSON</a></li>
        <li class="nav-item"><a class="nav-link{% if request.path == model_url %} active{% endif %}" href="{{ model_url }}">Models</a></li>
        <li class="nav-item"><a class="nav-link{% if request.path == multi_model_url %} active{% endif %}" href="{{ multi_model_url }}">Cesium Ion Assets</a></li>
        <li class="nav-item"><a class="nav-link{% if request.path == draw_url %} active{% endif %}" href="{{ draw_url }}">Drawing Tools</a></li>
      </ul>
    </div>
  </div>
</nav>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
</svg>
<div class="alert alert-info d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
  <div>{{ description|safe }}</div>
</div>

{% gizmo cesium_map_view %}

{% endblock %}

{% block github_link %}https://github.com/tethysplatform/tethysapp-gizmo_showcase/blob/main/tethysapp/gizmo_showcase/controllers/cesium_map_view.py{% endblock %}