{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Quick Start{% endblock %}

{% block app_content %}
<h2>Quick Start</h2>
<p>Template Gizmos are building blocks that can be used to create beautiful interactive controls for web apps. Using gizmos, developers can quickly add date-pickers, plots, and maps to their templates with minimal coding. This app provides examples and links to the documentation developers need to get started using Gizmos.</p>
<p>What does "minimal coding" mean? Take a look at the following example. Let's say you want to include a date picker in your template using a gizmo. First, import the DatePickerOptions class and initialize a new object with the configuration options for the date picker (more on that later) in your view/controller for the template and add it to the context dictionary:</p>

<pre class="overview-example-code"><code class="language-python">from tethys_gizmos.gizmo_options import DatePickerOptions

def my_view(request):
    date_picker_options = DatePickerOptions(
        name='date1',
        display_text='Date',
        autoclose=True,
        format='MM d, yyyy',
        start_date='2/15/2014',
        start_view='decade',
        today_button=True,
        initial='February 15, 2014'
    )

    context = {
        'date_picker_options': date_picker_options
    }

    return render(request, 'path/to/my/template.html', context)
</code></pre>

<p>Next, open the template you intend to add the gizmo to and load the <b>tethys_gizmos</b> library. Be sure to do this somewhere near <u>the top</u> of your template&mdash;before any gizmo occurrences. This only needs to be done once for each template that uses gizmos.</p>

<pre class="overview-example-code"><code class="language-python">{% templatetag openblock %} load tethys_gizmos {% templatetag closeblock %}</code></pre>

<p>Then, use the <b>gizmo</b> tag to insert the date picker anywhere in your template. Pass the the options dictionary that you passed to the template from your view as arguments:</p>

<pre class="overview-example-code"><code class="language-python">{% templatetag openblock %} gizmo date_picker_options {% templatetag closeblock %}</code></pre>

<p>All together your template may look something like this:</p>

<pre class="overview-example-code"><code class="language-python">{% templatetag openblock %} extends "tethys_apps/app_base.html" {% templatetag closeblock %}
{% templatetag openblock %} load static tethys_gizmos {% templatetag closeblock %}

{% templatetag openblock %}  block app_content {% templatetag closeblock %}
  {% templatetag openblock %} gizmo date_picker_options {% templatetag closeblock %}
{% templatetag openblock %}  endblock {% templatetag closeblock %}</code></pre>

<h3>How it Works</h3>

<p>Gizmos are composed of HTML, JavaScript, and CSS. When the template is rendered, each of the <b>gizmo</b> tags are replaced by the HTML that is needed to render the gizmo. All gizmos accept a Python dictionary with options for configuring the gizmo. This page provides live demos of each gizmo with links to code examples and explanations of the options. The <b>tethys_gizmos</b> library must be loaded at the top of the template to provide the <b>gizmo</b> template tag.</p>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}