{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Jobs Table{% endblock %}

{% block app_content %}
<h2>Jobs Table</h2>
<p>The Jobs Table gizmo can be used to track the progress of jobs that are processing.</p>
<p>For example code and an explanation of options see Gizmo Options Object API for <a target="_blank" href="{{ docs_endpoint }}/tethys_sdk/gizmos/jobs_table.html">Jobs Table</a>.</p>
{% gizmo jobs_table %}
{% if not jobs_table.jobs %}
    <a class="btn btn-success" href="{% url 'gizmo_showcase:jobs_table_sample_jobs' %}">Create Sample Jobs</a>
{% endif %}
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}