{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Message Box{% endblock %}

{% block app_content %}
<h2>Message Box</h2>
<p>Message box gizmos can be used to display messages to users. These are especially useful for alerts and warning messages. The message box gizmo is implemented using Twitter Bootstrap's modal.</p>
<p>For example code and an explanation of options see Gizmo Options Object API for <a target="_blank" href="{{ docs_endpoint }}/tethys_sdk/gizmos/message_box.html">Message Box</a>.</p>

<div class="example">
    <div class="demo">
        <a href="#{{ message_box.name }}" role="button" class="btn btn-success" data-bs-toggle="modal">Show Message Box</a>       
    </div>
</div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
    {# The message box is a modal, so put it in the after_app_content block #}
    {% gizmo message_box %}
{% endblock %}

{% block app_actions %}
{% endblock %}