{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Plot View - D3 Renderer{% endblock %}

{% block app_content %}
{{ block.super }}
<h2>Plot View - D3 Renderer</h2>
<p>Plot views can be used to generate plots of tabular data. Plot View has two rendering engines: <a href="https://www.highcharts.com/products/highcharts/" target="_blank">Highcharts JS</a> and <a href="https://d3js.org" target="_blank">D3.js</a>. Both plotting libraries are powerful, but Highcharts is only free to use in certain circumstances.</p>
<p>For example code and an explanation of options see Gizmo Options Object API for <a target="_blank" href="{{ docs_endpoint }}/tethys_sdk/gizmos/plot_view.html">Plot View</a>.</p>
<div class="demo">
    {% gizmo d3_line_plot_view %}
</div>

<div class="demo">
    {% gizmo d3_pie_plot_view %}
</div>

<div class="demo">
    {% gizmo d3_scatter_plot_view %}
</div>

<div class="demo">
    {% gizmo d3_bar_plot_view %}
</div>

<div class="demo">
    {% gizmo d3_time_series_plot_view %}
</div>
{% endblock %}

{% block github_link %}https://github.com/tethysplatform/tethysapp-gizmo_showcase/blob/main/tethysapp/gizmo_showcase/controllers/plots.py#L120{% endblock %}