{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Plotly View{% endblock %}

{% block app_content %}
{{ block.super }}
<h2>Plotly View</h2>
<p>Plotly views can be used to create interactive charts using the Plotly Python library. For more information about Plotly, see the <a target="_blank" href="https://plot.ly/python"> Plotly website</a></p>
<p>For example code and an explanation of options see Gizmo Options Object API for <a target="_blank" href="{{ docs_endpoint }}/tethys_sdk/gizmos/plotly_view.html">Plotly View</a>.</p>
<div class="demo">
    <h6 class="label">Scatter Plot</h6>
    {% gizmo scatter_plot %}
</div>
<div class="demo">
    <h6 class="label">Line Plot</h6>
    {% gizmo line_plot %}
</div>
<div class="demo">
    <h6 class="label">Pie Plot</h6>
    {% gizmo pie_plot %}
</div>
<div class="demo">
    <h6 class="label">Bar Plot</h6>
    {% gizmo bar_chart %}
</div>
<div class="demo">
    <h6 class="label">Time Series Plot</h6>
    {% gizmo time_series_plot %}
</div>
<div class="demo">
    <h6 class="label">Heat Map</h6>
    {% gizmo heat_map %}
</div>
{% endblock %}

{% block github_link %}https://github.com/tethysplatform/tethysapp-gizmo_showcase/blob/main/tethysapp/gizmo_showcase/controllers/plotly.py{% endblock %}