{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Quick Start{% endblock %}

{% block app_content %}
<h2>Range Slider</h2>
<p>Sliders can be used to request an input value from a range of possible values. A slider is configured with a dictionary of key-value options. The table below summarizes the options for sliders.</p>
<p>For example code and an explanation of options see Gizmo Options Object API for <a target="_blank" href="{{ docs_endpoint }}/tethys_sdk/gizmos/range_slider.html">Range Slider</a>.</p>
<div class="demo">
    <h6 class="label">Range Slider</h6>
    {% gizmo range_slider slider1 %}
</div>
<div class="demo">
    <h6 class="label">Disabled Range Slider with Error</h6>
    {% gizmo slider2 %}
</div>
<div class="demo">
    <h6 class="label">Range Slider with Success</h6>
    {% gizmo slider3 %}
</div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}