{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Select Input{% endblock %}

{% block app_content %}
{{ block.super }}
<h2>Select Input</h2>
<p>Select inputs are used to select values from an given set of values. Use this gizmo to create select inputs and multi select inputs. This uses the <a href="http://ivaynberg.github.io/select2/" target="_blank">Select2</a> functionality.</p>
<p>For example code and an explanation of options see Gizmo Options Object API for <a target="_blank" href="{{ docs_endpoint }}/tethys_sdk/gizmos/select_input.html">Select Input</a>.</p>
<div class="demo">
    <h6 class="label">Select2 Input</h6>
    {% gizmo select_input2 %}
    {% gizmo select_input2_disabled %}
    {% gizmo select_input2_error %}
    {% gizmo select_input2_success %}
    {% gizmo select_input2_multiple %}
</div>
<div class="demo">
    <h6 class="label">Original/Classic Select Input</h6>
    {% gizmo select_input %}
    {% gizmo select_input_disabled %}
    {% gizmo select_input_error %}
    {% gizmo select_input_success %}
    {% gizmo select_input_multiple %}
</div>
{% endblock %}

{% block github_link %}https://github.com/tethysplatform/tethysapp-gizmo_showcase/blob/main/tethysapp/gizmo_showcase/controllers/form_controls.py#L150{% endblock %}