{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Quick Start{% endblock %}

{% block app_content %}
<h2>Select Input</h2>
<p>Select inputs are used to select values from an given set of values. Use this gizmo to create select inputs and multi select inputs. This uses the <a href="http://ivaynberg.github.io/select2/" target="_blank">Select2</a> functionality.</p>
<p>For example code and an explanation of options see Gizmo Options Object API for <a target="_blank" href="{{ docs_endpoint }}/tethys_sdk/gizmos/select_input.html">Select Input</a>.</p>
<div class="demo">
    <h6 class="label">Select2 Input</h6>
    {% gizmo select_input select_input2 %}
    {% gizmo select_input2_multiple %}
    {% gizmo select_input select_input2_error %}
</div>
<div class="demo">
    <h6 class="label">Normal Select Input</h6>
    {% gizmo select_input %}
    {% gizmo select_input_multiple %}
</div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}