{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Table View{% endblock %}

{% block app_content %}
<h2>Table View</h2>
<p>Table views can be used to display tabular data. The table view gizmo can be configured to have columns that are editable. When used in this capacity, embed the table view in a form with a submit button. Table View gizmos are styled with <a href="https://getbootstrap.com/docs/5.1/content/tables/" target="_blank">Bootstrap</a>.</p>
<p>For example code and an explanation of options see Gizmo Options Object API for <a target="_blank" href="{{ docs_endpoint }}/tethys_sdk/gizmos/table_view.html">Table View</a>.</p>
<div class="demo">
    <h6 class="label">Table View</h6>
    {% gizmo table_view %}
</div>
<div class="demo">
    <h6 class="label">Dark Table View</h6>
    {% gizmo dark_table_view %}
</div>
<div class="demo">
  <h6 class="label">Editable Table View</h6>
  {% gizmo table_view_edit %}
</div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}