{% extends "gizmo_showcase/base.html" %}
{% load tethys_gizmos %}

{% block title %}{{ block.super }} - Quick Start{% endblock %}

{% block app_content %}
<h2>Toggle Switch</h2>
<p>Toggle switches can be used as an alternative to check boxes for boolean or binomial input. Toggle switches are implemented using the excellent <a href="https://bttstrp.github.io/bootstrap-switch/examples.html" target="_blank">Bootstrap Switch</a> project.</p>
<p>For example code and an explanation of options see Gizmo Options Object API for <a target="_blank" href="{{ docs_endpoint }}/tethys_sdk/gizmos/toggle_switch.html">Toggle Switch</a>.</p>
<div class="example">
    <div class="demo">
        <h6 class="label">Default Switch</h6>
        {% gizmo toggle_switch toggle_switch %}
    </div>
</div>
<div class="demo">
    <h6 class="label">Styled Switch</h6>
    {% gizmo toggle_switch_styled %}
</div>
<div class="demo">
    <h6 class="label">Disabled Switch with Error</h6>
    {% gizmo toggle_switch toggle_switch_disabled %}
</div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}