/* Demo and Code Example Styles */
.demo {
  position: relative;
  padding: 40px 20px 20px 20px;
  margin: 20px 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #fafafa;
}

.demo:after {
  content: "Demo";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 10pt;
  font-weight: bold;
  background-color: #dfdcd7;
  border: 1px solid #dddddd;
  border-radius: 5px 0 5px 0;
}

.label {
    position: absolute;
    display: inline-block;
    right: 5px;
    top: 5px;
    margin: 0;
    margin-left: 60px;
    overflow-x: ellipsis;
}
